@media screen and (min-width: 320px) and (max-width: 640px){
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 640px) and (max-width: 980px){
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px){
  .container {
    width: 1280px;
  }
}