.navbar {
  display: flex;
  background-color: $darkGrey;
  padding: 1.2rem 1.2rem 1.2rem 1.85rem;
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.21rem;
    color: white;
  }
}

//.menu {
//  &__item {
//    &-title{
//      &::after {
//
//      }
//
//    }
//  }
//}
//
//.menu__item-title